.rounded-corners (@radius: 20px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

.border1 (@border:2px solid #e32526) {
border-bottom:@border;	
}
.border2 (@border:solid 2px #999999) {
border-bottom:@border;	
}
.border3 (@border:solid 1px #cccccc) {
border-top:@border;	
}
.border4 (@border:solid 1px #dddddd) {
border-top:@border;	
}
.border5 (@border:solid 1px #e5e5e5) {
border-top:@border;	
}
.border6 (@border:solid 1px #e5e5e5) {
border-bottom:@border;	
}
.border7 (@border:solid 2px #cecece) {
border:@border;	
}
.border8 (@border:solid 1px #cccccc) {
border:@border;	
}
.border9 (@border:solid 1px #010101) {
border:@border;	
}
.border10 (@border:solid 2px #26b1bf) {
border:@border;	
}
.border11 (@border:solid 2px #ffffff) {
border-bottom:@border;	
}
.border12 (@border:solid 1px #92d8df) {
border:@border;	
}
.border13 (@border:solid 1px #cccccc) {
border-bottom:@border;	
}
.border14 (@border:2px solid #000000) {
border-bottom:@border;	
}
.border15 (@border:solid 2px #999999) {
border:@border;	
}
.bx-shadow1 (@shadow:2px 1px 4px -1px #000000) {
  -webkit-box-shadow: @shadow;
  -moz-box-shadow: @shadow;
  -ms-box-shadow: @shadow;
  -o-box-shadow: @shadow;
  box-shadow: @shadow;
}
