<div style="border-color: #e32526;
            border-style: solid;
            border-width: 1px;
            text-align: left;
            width: 230px;
            margin-left: 40%;
            padding-left: 10px;">
	<p><? echo __("Formulario contacto redpop");?></p>
	<p> 
	Nombre: <? echo $user['Contact']['name'];?>
	</p>
	<p> 
	Email: <? echo $user['Contact']['email'];?>
	</p>
	<p> 
	Mensaje: <? echo $user['Contact']['message'];?>
	</p>
	
</div>