@import url('../less/includes/variables.less');
@import url('../less/includes/mixins.less');
.wrapper {
	margin:0 auto;
}
.container {
	margin:0 auto;
	width:1120px;
	#accordionfaq{
		border-top: solid 1px #e5e5e5;
		span{
			padding: 25px 0;
			margin: 0;
			font-family: 'Source Sans Pro', sans-serif;
			font-size: 18px;
			line-height: 18px;
			color: @color2;
			font-weight: 600;
			display: block;
			border-bottom: solid 1px #e5e5e5;
			cursor: pointer;
			text-transform: uppercase;
			i{
				background: url(../images/sfaq.png) no-repeat;
				background-position: 0 0;
				width: 10px;
				height: 10px;
				display:block;float:right;margin-right:10px;
			}
			i.open{
				background-position: 0 -11px ;
			}	

		}
		.question{
			padding:20px 0;
			border-bottom: solid 1px #e5e5e5;
			display:none;
			
			b{
				
				color: #333333;
				font-size: 16px;
				line-height: 16px;
				padding: 16px 0 1px 0;
				width:100%;
				margin-botoom:15px;
				cursor:pointer;
				font-weight: normal;
				margin-left: 17px;

				i{
					background: url(../images/sfaq.png) no-repeat;
					background-position: 0 -22px ;
					width: 7px;
					height: 8px;
					display:none;float:left;margin-top:5px;margin-right:-7px;
				}

			}
			b:hover{
				color:#e32526;
			}
			div{
				display:none;
				margin-left:50px;

				margin-top:20px;
			}

		}
		p{
			
			font-size: 14px;
			color: #333333;
			display: inline-block;
			font-weight: 400;
			width:100%;

			padding-top:10px;
			strong{
				font-weight: 700;
			}
		}


	}
	.pagination{
		margin-top:20px;
		list-style: none;

		li{

			float: left;
			display: inline-block;
			padding: 7px;
			margin:0px;
			
			a{
				position:relative;
				background:none;
			}
		}
	}
	.textdescription{
		padding-bottom:50px;
		color: #666666;
		font-family: 'Lato-Regular';
		font-size: 13px;
		line-height: 20px;

	}
	.new{
		max-width:500px;
		font-size: 18px;
		line-height: 26px;
		margin-bottom: 40px
		color: #666666;
		font-family: 'Lato-Regular';
		font-size: 13px;
		line-height: 20px;
		padding:20px;
		h3{
			font-size: 22px;
		}
		hr{
			background-color: #cccccc;
			color: #cccccc;
			border: 0;
			height: 1px;
			margin-bottom: 20px;
			margin-top: 20px;
			width: 55px
		}


	}
	
	#contact-area {
		width: 600px;
		margin-top: 25px;
	}
	#contact-area .messagealert{
		text-align: center;
		padding: 20px;
		color:#000000;
	}
	

	#contact-area input, #contact-area textarea {
		padding: 5px;
		width: 471px;
		font-family: Helvetica, sans-serif;
		font-size: 1.4em;
		margin: 0px 0px 10px 0px;
		border: 2px solid #ccc;
	}

	#contact-area textarea {
		height: 90px;
	}

	#contact-area textarea:focus, #contact-area input:focus {
		border: 2px solid #e32526;
	}

	#contact-area input.submit-button {
		width: 100px;
		float: right;
		color:#fff;
		background-color:#e32526;
		text-decoration: none;
		border-radius: 2px;
		border:0;
		cursor:pointer;
	}



	label {
		float: left;
		text-align: right;
		margin-right: 15px;
		width: 100px;
		padding-top: 5px;
		font-size: 1.4em;
}
	


	.clients 
	{
		img{
			 cursor: pointer;
			 -webkit-filter: grayscale(1);
  			filter: grayscale(1);
		}
		img:hover{
		    -webkit-filter: grayscale(0);
  			filter: grayscale(0);
		}
	}
}
header {
	background:@color1;
}
input {
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	border-radius:0;
}
select {
	-moz-border-radius: none;
	-ms-border-radius: none;
	-o-border-radius: none;
	-webkit-border-radius: none;
	appearance: none;
	border-radius:0;
}
.logo {
	float:left;
	margin:20px 0 0 0;
}

.logo_left {
	float:left;
	ul {
		display:inline-block;
		float:left;
		margin:0 0 0 10px;
		padding:0;
		li {
			.border14;
			display:inline-block;
			float:left;
			margin:0;
			margin:0 15px;
			padding:0;
			padding:0;
			a {
				color:@color9;
				display:block;
				font-family: 'Lato-Black';
				font-size:12px;
				letter-spacing:2px;
				padding:31px 0 26px;
				&:hover {
					color:@color0;
				}
			}
			a.active {
				color:@color0;
			}
			&:hover {
				.border1;
				a {
					.border1;
					color:@color0;
				}
			}
		}
		li.active {
			.border1;
			a {
				.border1;
				color:@color0;
			}
		}
	}
}


.cart {
	float:right;
	padding:25px 0 0 0;
	a {
		background:url(../images/cart_icon.png) no-repeat right center;
		color:@color6;
		display:block;
		font-family: 'Lato-Bold';
		font-size:11px;
		padding:4px 47px 5px 0;
		text-decoration:none;
		&:hover {
			color:@color6;
			text-decoration:underline;
		}
	}
}
.nav_main {
	background:@color0;
	.border13;
	position:relative;
	h2 {
		border-right:1px solid #bfbfbf;
		color:@color1;
		display:inline-block;
		float:left;
		font-family: 'Lato-Bold';
		font-size:16px;
		letter-spacing:3px;
		line-height:30px;
		margin:11px 18px 9px 0;
		padding:0 30px 0 0;
		text-transform:uppercase;
	}
}
nav {
	float:left;
	ul {
		display:inline-block;
		float:left;
		li {
			.border11;
			display:inline-block;
			float:left;
			margin:0 15px;
			padding:0;
			padding-top:4px;
			position:relative;
			a {
				color:#bcbcbc;
				display:block;
				font-family: 'Lato-Bold';
				font-size:12px;
				letter-spacing:2px;
				padding:16px 0 17px 0;
				text-transform:uppercase;
			}
			&:hover {
				.border1;
				a {
					color:@color1;
				}
				ul {
					display:block;
				}
			}
		}
		li.active {
			.border1;
			a {
				color:@color1;
			}
		}
		ul {
			.bx-shadow1;
			display:none;
			float:none;
			left:0;
			position:absolute;
			top:50px;
			width:@width21;
			z-index:999;
			li {
				background:@color0;
				border-bottom:1px solid @color6 !important;
				display:block;
				float:none;
				margin:0 0;
				padding:0;
				width:@width21;
				a {
					background:url(../images/icons1.png) no-repeat 91px -96px;
					color:@color1;
					display:block;
					font-family: 'Lato-Bold';
					font-size:12px;
					padding:12px 0 17px 10px;
					text-transform:none;
					&:hover {
						background:url(../images/icons1.png) no-repeat 91px -134px;
					}
				}
				&:hover {
					background:@color2;
					border-bottom:1px solid @color2 !important;
					a {
						background:url(../images/icons1.png) no-repeat 91px -134px;
						border-bottom:0;
						border-bottom:0 !important;
						color:@color0;
						color:@color0;
					}
				}
			}
			li.active {
				background:@color2;
				border-bottom:1px solid @color2 !important;
				a {
					background:url(../images/icons1.png) no-repeat 91px -134px;
					border-bottom:0;
					border-bottom:0 !important;
					color:@color0;
					color:@color0;
				}
			}
			ul {
				float:none;
				left:174px;
				position:absolute;
				top:0;
				width:@width21;
				z-index:999;
				li {
					background:@color0;
					border-bottom:1px solid @color6 !important;
					display:block;
					float:none;
					margin:0 0;
					padding:0;
					width:@width21;
					a {
						background:none !important;
						color:@color1 !important;
						display:block;
						font-family: 'Lato-Bold';
						font-size:12px;
						padding:12px 0 17px 10px;
						text-transform:none;
						&:hover {
							background:none !important;
						}
					}
					&:hover {
						background:@color2;
						border-bottom:1px solid @color2 !important;
						a {
							background:none !important;
							border-bottom:0;
							border-bottom:0 !important;
							color:@color0;
							color:@color0 !important;
						}
					}
				}
				li.active {
					background:@color2;
					border-bottom:1px solid @color2 !important;
					a {
						background:none !important;
						border-bottom:0;
						border-bottom:0 !important;
						color:@color0;
						color:@color0 !important;
					}
				}
			}
		}
	}
}
.menu_icon {
	background:url(../images/menu_icon.png) no-repeat right top;
	cursor:pointer;
	display:none;
	float:right;
	height:24px;
	width:24px;
}
.search_bg {
	background:url(../images/icons1.png) no-repeat right -15px;
	border:0;
	float:right;
	margin:6px 0 0 0;
	padding:10px 20px;
}
.banner {
	position:relative;
	width:@width21;
}
.slider {
	margin:0 auto;
	position:relative;
	width:@width21;
	ul {
		text-align:center;
		li {
			position:relative;
			text-align:center;
			img {
				display:block;
				height:auto;
				margin:0 auto;
				text-align:center;
				width:@width21;
			}
		}
	}
}
.banner_in {
	height:100%;
	left:0;
	position:absolute;
	top:0;
	width:@width21;
	h3 {
		color:@color0;
		font-family: 'Lato-Hairline';
		font-size:100px;
		font-weight:normal;
		line-height:120px;
		padding:134px 0 0 0;
		text-align:left;
	}
}
.main_container {
	background:@color0;
}
.main_content {
	.border3;
	padding:69px 0 104px 0;
}
.content_left {
	float:left;
	width:@width14;
}
.ofe_img1 {
	float:left;
	img {
		display:block;
		margin:0;
		padding:0;
	}
}
.ofe_cont {
	float:left;
	padding:0 0 0 20px;
	width:@width13;
	h2 {
		color:@color1;
		font-family: 'Lato-Black';
		font-size:21px;
		letter-spacing:1px;
		padding:0 0 10px 0;
	}
	p {
		color:@color4;
		font-family: 'Lato-Regular';
		font-size:16px;
		line-height:24px;
		padding:0 0 10px 0;
	}
	a {
		color:@color3;
		font-family: 'Lato-Regular';
		font-size:13px;
		line-height:20px;
		text-decoration:none;
		&:hover {
			color:@color1;
		}
	}
}
.nue_img1 {
	margin:0;
	padding:20px 0 0 0;
	img {
		display:block;
		margin:0;
		padding:0;
	}
}
.nue_cont {
	float:left;
	padding:28px 0 0 0;
	width:auto;
	h2 {
		color:@color1;
		font-family: 'Lato-Black';
		font-size:21px;
		letter-spacing:1px;
		padding:0 0 14px 0;
	}
	p {
		color:@color4;
		font-family: 'Lato-Regular';
		font-size:16px;
		line-height:24px;
		padding:0 0 10px 0;
	}
	a {
		color:@color3;
		font-family: 'Lato-Regular';
		font-size:13px;
		line-height:20px;
		&:hover {
			color:@color1;
		}
	}
}
.content_right {
	float:right;
	width:@width14;
}
.tem_img1 {
	margin:0;
	padding:0 0 0 0;
	img {
		display:block;
		margin:0;
		padding:0;
	}
}
.tem_cont {
	float:left;
	padding:28px 0 0 0;
	width:auto;
	h2 {
		color:@color1;
		font-family: 'Lato-Black';
		font-size:21px;
		letter-spacing:1px;
		padding:0 0 14px 0;
	}
	p {
		color:@color4;
		font-family: 'Lato-Regular';
		font-size:16px;
		line-height:24px;
		padding:0 0 10px 0;
	}
	a {
		color:@color3;
		font-family: 'Lato-Regular';
		font-size:13px;
		line-height:20px;
		&:hover {
			color:@color1;
		}
	}
}
footer {
	.border3;
	padding:68px 0 70px;
	background:url(../images/footerqrack.png) no-repeat left bottom;
}
.footer_logo {
	float:left;
	margin:0 50px 0 0;
}
.footer_nav1 {
	float:left;
	width:191px;
	h3 {
		color:@color4;
		font-family: 'Lato-Black';
		font-size:13px;
		letter-spacing:2px;
		padding:0 0 17px 0;
	}
	ul {
		display:inline-block;
		float:none;
		width:@width21;
		li {
			display:inline-block;
			float:none;
			width:@width21;
			a {
				color:@color3;
				display:inline-block;
				font-family: 'Lato-Regular';
				font-size:13px;
				line-height:19px;
				&:hover {
					text-decoration:underline;
				}
			}
		}
	}
}
.footer_nav2 {
	float:left;
	width:360px;
	h3 {
		color:@color4;
		font-family: 'Lato-Black';
		font-size:13px;
		letter-spacing:2px;
		padding:0 0 15px 0;
	}
	p {
		color:@color3;
		font-family: 'Lato-Regular';
		font-size:13px;
		line-height:20px;
		padding:0 0 15px 0;
		span {
			color:@color4;
			font-family: 'Lato-Bold';
		}
	}
}
.input_mail {
	background:@color0;
	.border15;
	color:@color1;
	display:block;
	font-family: 'Lato-Regular';
	font-size:13px;
	letter-spacing:2px;
	margin:0 0 15px 0;
	padding:10px 10px;
	width:93.5%;
	&:hover {
		background:@color10;
	}
}
.sus {
	background:@color0;
	border:2px solid @color16;
	color:@color1;
	cursor:pointer;
	font-family: 'Lato-Bold';
	font-size:13px;
	letter-spacing:2px;
	padding:10px 32px;
	text-transform:uppercase;
	&:hover {
		background:#e5e4e4;
	}
}
.copy {
	margin:0;
}
.copy_in {
	.border3;
	padding:18px 0 60px 0;
	p {
		color:@color3;
		float:left;
		font-family: 'Lato-Regular';
		font-size:11px;
		letter-spacing:1.5px;
		text-transform:uppercase;
	}
}
.copy_rt {
	float:right;
	position:relative;
	margin-top:25px;
	h2 {

		color:@color3;
		font-family: 'Lato-Regular';
		font-size:11px;
		padding:0 27px 0 0;
		position:relative;
		text-transform:none;
		cursor:pointer;
	}
	&:hover {
		.flags {
			display:block;
		}
	}
}
.flags {
	background:@color0;
	border:1px solid @color8;
	top:14px;
	display:none;
	height:106px;
	position:absolute;
	right:0;
	width:143px;
	z-index:999;
	ul {
		display:inline-block;
		float:left;
		padding:5px 20px 0 0;
		li {
			display:inline-block;
			float:left;
			padding:0 0 5px 0;
			width:@width21;
			a {
				background:url(../images/icons1.png) no-repeat right bottom;
				color:@color3;
				display:block;
				font-family: 'Lato-Regular';
				font-size:11px;
				margin:10px 0;
				padding:5px 27px 0 0;
				text-align:right;
				text-transform:none;
				&:hover {
				}
			}
			a.icon2 {
				background:url(../images/icons1.png) no-repeat right bottom;
				margin:0;
			}
			a.icon3 {
				background:url(../images/icons1.png) no-repeat right -238px;
				margin:0;
			}
			a.icon4 {
				background:url(../images/icons1.png) no-repeat right -258px;
				margin:0;
			}
			a.icon5 {
				background:url(../images/icons1.png) no-repeat right -279px;
				margin:0;
			}
		}
	}
}
.plv_main {
	margin:0;
	padding:68px 0 81px;
	h2 {
		color:@color1;
		font-family: 'Lato-Bold';
		font-size:24px;
		letter-spacing:5px;
		padding:0 0 40px 0;
		text-transform:uppercase;
	}
	ul {
		display:inline-block;
		float:left;
		li {
			display:inline-block;
			float:left;
			margin:0 20px 20px 0;
			position:relative;
			a {
				background:url(../images/trans_bg1.png) repeat;
				bottom:0;
				left:0;
				position:absolute;
				width:@width21;
				span {
					background:url(../images/arrow1.png) no-repeat right center;
					color:@color0;
					display:block;
					font-family: 'Lato-Bold';
					font-size:12px;
					letter-spacing:2px;
					line-height:30px;
					margin:0 10px;
					padding:10px 0;
					text-transform:uppercase;
				}
			}
			img {
				display:block;
				margin:0;
				padding:0;
				height:100%;
			}
		}
	}
}
.article_main {
	margin:0;
	padding:69px 0 50px;
	h2 {
		color:@color9;
		font-family: 'Lato-Black';
		font-size:24px;
		letter-spacing:5px;
		line-height:28px;
		padding:0 0 40px 0;
		span {
			color:@color1;
		}
	}
}
.article_menu {
	float:left;
	width:@width17;
	h3 {
		.border8;
		padding:11px 0;
		span {
			background:url(../images/article-icons.png) no-repeat right 8px;
			color:@color1;
			display:block;
			font-family: 'Lato-Bold';
			font-size:11px;
			line-height:26px;
			margin:0 15px 0 20px;
			text-transform:uppercase;
		}
	}
	ul {
		display:block;
		float:none;
		padding:14px 15px 12px 15px !important;
		li {
			background:@color0 !important;
			clear:both;
			color:@color4;
			cursor:pointer;
			display:block;
			float:none;
			font-family: 'Lato-Regular';
			font-size:13px !important;
			font-weight:normal !important;
			line-height:24px;
			padding:0 20px 0 6px;
			width:auto;
			&:hover {
				background:@color2 !important;
				color:@color0 !important;
			}
		}
		li.active {
			background:@color2 !important;
			color:@color0 !important;
		}
	}
}
.article_rt {
	float:right;
	width:836px;
}
.cont1 {
	display:none;
	margin:0;
	padding:0 !important;
	width:@width21 !important;
}
.cont1_lt {
	float:left;
	width:550px;
	h4 {
		background:@color2;
		color:@color0;
		font-family: 'Lato-Black';
		font-size:14px;
		font-weight:normal;
		letter-spacing:1px;
		line-height:28px;
		padding:11px 20px 11px 20px;
	}
}
.cont1_lt_img1 {
	background:@color10;
	.border8;
	margin:0 0 20px 0;
	padding:20px 0;
	position:relative;
	img {
		display:block;
		margin:0 auto;
		padding:0;
		text-align:center;
	}
}
.cont1_rt {
	float:right;
	width:@width17;
	h4 {
		background:@color4;
		color:@color0;
		font-family: 'Lato-Black';
		font-size:14px;
		letter-spacing:1px;
		line-height:28px;
		padding:11px 20px 11px 20px;
	}
	a {
		background:@color0;
		border:2px solid @color15;
		color:@color14;
		display:block;
		font-family: 'Lato-Bold';
		font-size:13px;
		letter-spacing:2px;
		margin:20px 0 0 0;
		padding:10px 0;
		text-align:center;
		text-transform:uppercase;
		&:hover {
			border:2px solid #50cfdb;
		}
	}
}
.cont1_rt_in {
	background:@color0;
	.border8;
	padding:30px 0 10px;
	h5 {
		background:@color8;
		color:@color4;
		font-family: 'Lato-Regular';
		font-size:12px;
		font-weight:normal;
		letter-spacing:1px;
		line-height:28px;
		margin:21px 0 0 0;
		padding:11px 20px 11px 20px;
	}
	h6 {
		color:@color4;
		display:block;
		font-family: 'Lato-Regular';
		font-size:14px;
		font-weight:normal;
		line-height:21px;
		margin:0 auto;
		text-align:left;
		width:@width24;
		span {
			color:@color14;
			float:right;
			font-family: 'Lato-Bold';
			font-size:14px;
			text-align:right;
			text-align:right;
		}
	}
	p {
		color:@color3;
		display:block;
		font-family: 'Lato-Italic';
		font-size:13px;
		line-height:21px;
		margin:0 auto;
		padding:25px 0 10px 0;
		text-align:left;
		width:@width24;
		span {
			color:@color1;
			float:right;
			font-family: 'Lato-Bold';
			font-size:21px;
			text-align:right;
			text-align:right;
		}
	}
}
.qrack_tipo {
	background:@color0;
	border-bottom:1px solid @color8;
}
.qrack_top {
	background:#fff;
	padding:15px 15px 15px 15px;
	h5 {
		color:@color1;
		font-family: 'Lato-Bold';
		font-size:13px;
		font-weight:normal;
		letter-spacing:1px;
		padding:0 0 11px 0;
	}
	p {
		color:@color4;
		float:left;
		font-family: 'Lato-Regular';
		font-size:13px;
		padding:6px 0 0 18px;
	}
}

.qrack_tipo.active .qrack_top{background:#dddddd;}

.select_bg1 {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background:url(../images/article-icons.png) no-repeat 98% center @color0;
	.border8;
	color:@color4;
	float:right;
	font-family: 'Lato-Regular';
	font-size:13px;
	margin:0 0 10px 0;
	outline:none;
	padding:2px 5px;
	width:341px;
}
.qrack_bot {
	ul {
		display:inline-block;
		float:none;
		width:@width21;
		li {
			.border4;
			float:none;
			width:@width21;
			a {
				color:@color1;
				display:block;
				font-family: 'Lato-Bold';
				font-size:13px;
				letter-spacing:1px;
				margin:0 15px;
				padding:16px 0;
				&:hover {
				}
			}
		}
	}
}
.girl_img1 {
	position:absolute;
	right:13px;
	top:13px;
}
.marg1 {
	margin:0 0 0 80px !important;
}
.qrack_top1 {
	background:@color0 !important;
}
.qrack_top2 {
	background:@color0 !important;
	.border4;
}
.tick1 {
	background:url(../images/article-icons.png) no-repeat right -133px;
}
.tick2 {
	background:url(../images/article-icons.png) no-repeat right -119px;
}
.estructura {
	background:@color8;
}
.confi {
	padding:20px 0 0 0;
	a {
		background:url(../images/article-icons.png) no-repeat 20px -169px;
		.border9;
		color:@color1;
		display:block;
		font-family: 'Lato-Bold';
		font-size:13px;
		letter-spacing:1px;
		padding:11px 0;
		text-align:center;
		width:@width13;
		&:hover {
			.border12;
		}
	}
}
.invoice_main {
	padding:68px 0 100px 0;
}
.factura {
	.border13;
	padding:0 0 40px 0;
	h2 {
		color:@color1;
		float:left;
		font-family: 'Lato-Bold';
		font-size:24px;
		font-weight:normal;
		letter-spacing:4px;
	}
}
.print_icons {
	float:right;
	margin:6px 0 0 0;
	ul {
		display:inline-block;
		float:right;
		li {
			display:inline-block;
			float:left;
			margin:0 0 0 13px;
			a {
				display:block;
			}
		}
	}
}
.invoice_main1 {
	padding:68px 0 59px 0 !important;
}
.client_details {
	padding:48px 0 114px 0;
}
.client_details_lt {
	float:left;
	p {
		color:@color1;
		font-family: 'Lato-Regular';
		font-size:13px;
		line-height:23px;
		span {
			font-family: 'Lato-Bold';
		}
	}
}
.client_details_rt {
	float:right;
	width:358px;
	p {
		color:@color1;
		display:block;
		font-family: 'Lato-Bold';
		font-size:13px;
		line-height:23px;
		a {
			color:@color1;
			display:inline-block;
			font-family: 'Lato-Regular';
			font-size:13px;
			&:hover {
				text-decoration:underline;
			}
		}
	}
}
.detalle {
	margin:0 auto;
	padding:0 0 40px 0;
	ul {
		.border6;
		li {
			.border5;
			letter-spacing:1px;
		}
	}
}
.head_top {
	h3 {
		color:@color1;
		font-family: 'Lato-Bold';
		font-size:13px;
		letter-spacing:1.5px;
		line-height:57px;
	}
	h4 {
		color:@color3;
		font-family: 'Lato-Regular';
		font-size:13px;
		line-height:17px;
		padding:14px 0 40px 0;
		span {
			display:block;
			font-family: 'Lato-Hairline';
			font-size:13px;
			font-style:italic;
			padding:6px 0 0 0;
			em {
				color:@color1;
				font-family: 'Lato-Italic';
				font-size:12px;
				font-style:italic;
			}
		}
	}
	p {
		color:@color13;
		font-family: 'Lato-Regular';
		font-size:12px;
		line-height:18px;
		padding:14px 0 15px 0;
	}
	h5 {
		color:@color13;
		font-family: 'Lato-Regular';
		font-size:12px;
		line-height:47px;
	}
	h6 {
		color:#3cb9c6;
		font-family: 'Lato-Regular';
		font-size:13px;
		line-height:47px;
	}
}
.pad1 {
	padding:9px 0 16px 0 !important;
}
.pad2 {
	padding:14px 0 0 0 !important;
}
.head1 {
	float:left;
	width:380px;
	p {
		color:@color3;
		font-family: 'Lato-Regular';
		font-size:13px;
		line-height:19px;
		padding:10px 0 0 0;
	}
}
.head2 {
	float:left;
	width:300px;
}
.head3 {
	float:left;
	text-align:center;
	width:248px;
}
.head4 {
	float:left;
	text-align:right;
	width:190px;
}
.head5 {
	box-sizing:border-box;
	float:left;
	padding:0 0 0 50px;
	text-align:left;
	text-align:left;
	width:181px;
	p {
		color:@color3;
		font-family: 'Lato-Regular';
		font-size:13px;
	}
}
.shape1 {
	float:left;
	margin:20px 65px 20px 0;
}
.head6 {
	float:left;
	width:500px;
}
.base_main {
	float:right;
	width:362px;
	h4 {
		color:@color9;
		font-family: 'Lato-Italic';
		font-size:13px;
		font-weight:normal;
		padding:0 0 0 50px;
		span {
			color:@color1;
			float:right;
			font-family: 'Lato-Bold';
			font-size:21px;
			padding:0 0 0 0;
			text-align:right;
		}
	}
}
.base {
	background:@color10;
	padding:20px 23px;
	h5 {
		color:@color12;
		font-family: 'Lato-Regular';
		font-size:13px;
		font-weight:normal;
		line-height:20px;
		span {
			color:@color9;
			display:inline-block;
			float:right;
			text-align:right;
		}
		small {
			display:inline-block;
			float:left;
			font-size:13px;
			font-style:italic;
			text-align:left;
		}
	}
	h3 {
		color:#191919;
		font-family: 'Lato-Bold';
		font-size:20px;
		font-weight:normal;
		padding:32px 0 0 0;
		text-transform:uppercase;
		span {
			display:inline-block;
			float:right;
			letter-spacing:2px;
			text-align:right;
		}
	}
}
.volver {
	margin:0;
	padding:47px 0 0 0;
	ul {
		display:inline-block;
		float:left;
		width:@width21;
		li {
			.border7;
			display:inline-block;
			float:left;
			margin:0 0 0 0;
			width:170px;
			a {
				color:@color3;
				display:block;
				display:block;
				font-family: 'Lato-Regular';
				font-size:13px;
				font-weight:normal;
				padding:10px 0;
				text-align:center;
				&:hover {
					color:@color7;
				}
			}
			&:hover {
				.border10;
			}
			a.active {
				color:@color7;
			}
		}
	}
}
.detalle2 {
	padding:0 0 40px 0;
}
.continuar {
	margin:0;
	padding:50px 0 0 0;
	ul {
		display:inline-block;
		float:left;
		width:@width21;
		li {
			.border7;
			display:inline-block;
			float:left;
			margin:0 0 0 0;
			a {
				color:@color12;
				display:block;
				display:block;
				font-family: 'Lato-Regular';
				font-size:13px;
				font-weight:normal;
				padding:10px 21px;
				text-align:center;
				&:hover {
					color:@color7;
				}
			}
			&:hover {
				.border10;
			}
			a.active {
				color:@color7;
			}
		}
		li.active {
			.border10;
		}
	}
}
.pad3 {
	padding:14px 0 40px 19% !important;
}
.cart_icons {
	float:right;
	padding:25px 0 0 0;
	a {
		background:url(../images/resume_cart_icons.png) no-repeat left top;
		color:@color6;
		display:block;
		float:left;
		font-family: 'Lato-Bold';
		font-size:11px;
		padding:4px 0 5px 30px;
		text-decoration:none;
		&:hover {
			color:@color6;
			text-decoration:underline;
		}
	}
}
.cart_bg {
	.rounded-corners;
	border:1px solid #25afbd;
	float:right;
	margin:-3px 0 0 20px;
	min-height:28px;
	position:relative;
	width:54px;
	h3 {
		color:@color0;
		float:right;
		font-family: 'Lato-Bold';
		font-size:11px;
		font-weight:normal;
		font-weight:normal;
		padding:7px 11px 0 0;
	}
}
.cart_icon1 {
	background:url(../images/resume_cart_icons.png) no-repeat left bottom;
	border:0;
	cursor:pointer;
	float:left;
	margin:5px 0 0 7px;
	height:15px;
	width:16px;
}
.slide_cont{display:none;}
.form_accordion{border:1px solid #dddddd; border-bottom:0;}
.round_2{display:none;}
.back_button{display:none;}
.back_first{display:none;}
