<div id="footer" class="hidden-print">
			
			<!--  Copyright Line -->
			<div class="copy">&copy; 2015 - <a href="http://www.redpop.es">Redpop</a> - All Rights Reserved. Power by <a href="http://www.bonzzay.com" target="_blank">Bonzzay</a></div>
			<!--  End Copyright Line -->
</div>