/*====================================== reset.css is here ========================================*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0;outline:none;}
table {	border-collapse:collapse; border-spacing:0;}
fieldset,img { border:0; }
address,caption,cite,code,dfn,em,strong,th,var {font-style:normal; font-weight:normal;}
ol,ul { list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6 {	font-size:100%;	font-weight:bold;}
q:before,q:after {content:'';}
abbr,acronym { border:0;}
.clear{clear:both; font-size:0px;line-height:0px; display:block;}
.last	{margin:0 !important;}
.pad_last{padding:0 !important;}
.no_bg {background:none !important;}
.marg_last{ margin-right:0px !important;}
header,nav,section,article,aside,footer,hgroup {display: block;}
/**************************************************************************************/
a											{color:#000; text-decoration:none; outline:0 none;}
a:hover										{color:#000;  text-decoration:none;}
h1											{font-size:24px;}
h2											{font-size:22px;}
h3											{font-size:18px;}
h4											{font-size:16px;}
h5											{font-size:14px;}
h6											{font-size:12px;}
/*----------------------------------------------------------------------------------*/
html 										{-webkit-text-size-adjust: 100%;}
body										{color:#b1b1b1; font-family:"Arial", Verdana, Tahoma; font-size:12px;background:#ffffff;}
.flt_lt										{float:left !important; display:inline;}
.flt_rt										{float:right !important; display:inline;}
.no_border{border:0 !important;}
/* ---------------------------------------------------------------------------------*/
@font-face {
  font-family: 'Lato-Black';
  src: url('../fonts/Lato-Black/Lato-Black.eot'),  
  url('../fonts/Lato-Black/Lato-Black.woff') format('woff'), 
  url('../fonts/Lato-Black/Lato-Black.ttf')  format('truetype'), 
  url('../fonts/Lato-Black/Lato-Black.svg#Lato-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato-Bold';
  src: url('../fonts/Lato-Bold/Lato-Bold.eot'),  
  url('../fonts/Lato-Bold/Lato-Bold.woff') format('woff'), 
  url('../fonts/Lato-Bold/Lato-Bold.ttf')  format('truetype'), 
  url('../fonts/Lato-Bold/Lato-Bold.svg#Lato-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Hairline';
  src: url('../fonts/Lato-Hairline/Lato-Hairline.eot'),  
  url('../fonts/Lato-Hairline/Lato-Hairline.woff') format('woff'), 
  url('../fonts/Lato-Hairline/Lato-Hairline.ttf')  format('truetype'), 
  url('../fonts/Lato-Hairline/Lato-Hairline.svg#Lato-Hairline') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato-Regular';
  src: url('../fonts/Lato-Regular/Lato-Regular.eot'),  
  url('../fonts/Lato-Regular/Lato-Regular.woff') format('woff'), 
  url('../fonts/Lato-Regular/Lato-Regular.ttf')  format('truetype'), 
  url('../fonts/Lato-Regular/Lato-Regular.svg#Lato-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Italic';
  src: url('../fonts/Lato-Italic/Lato-Italic.eot'),  
  url('../fonts/Lato-Italic/Lato-Italic.woff') format('woff'), 
  url('../fonts/Lato-Italic/Lato-Italic.ttf')  format('truetype'), 
  url('../fonts/Lato-Italic/Lato-Italic.svg#Lato-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
