@media only screen and (max-width:1300px){
.slider .bx-wrapper .bx-controls-direction a{bottom:20% !important;}
}

@media only screen and (max-width:1140px){
.container{width:1000px;}
.banner_in h3{padding:8% 0 0 0;}
.slider .bx-wrapper .bx-controls-direction a{bottom:20% !important;}
.content_left{width:48%;}
.content_right{width:48%;}
.tem_img1 img{width:100%;height:auto;}
.nue_img1 img{width:100%;height:auto;}
.ofe_img1{width:48%;}
.ofe_img1 img{width:100%;height:auto;}
.ofe_cont{width:45%;padding:0 0 0 3%;}
.article_menu{width:20%;}
.article_rt{width:75%;}
.cont1_lt{width:60%;}
.cont1_rt{width:35%;}
.plv_main ul{ width:100%;}
.plv_main ul li{ width:49%; margin:0 0 10px; }
.plv_main ul li img{ max-width:100%; height:auto;	}
.plv_main ul li:nth-child(2n+1){ margin-right:1%;  clear:left;}
.plv_main ul li:nth-child(2n){ margin-left:1%;}
.footer_nav2{width:24%;}
.input_mail{box-sizing:border-box;}
.select_bg1{width:50%;}
.head1{width:250px;}
nav ul li{margin:0 12px;}
.head6{width:380px;}
}

@media only screen and (max-width:1023px){
.container{width:98%;}
.banner_in h3{font-size:80px;line-height:80px;}
.slider .bx-wrapper .bx-controls-direction a{bottom:30% !important;}
.ofe_img1{width:100%;}
.ofe_img1 img{width:100%;height:auto;}
.ofe_cont{width:100%;padding:20px 0 0 0;}
.select_bg1{width:70%;}
.footer_logo a{ display:inline-block;}
footer{ padding:25px 0;}
.footer_logo{ margin-right:15px; max-width:10%; min-width:150px;}
.footer_nav1{ max-width:25%; width:auto; margin-right:5px; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; margin:0; padding-right:5px;}
.footer_nav2{ margin:10px 0 0; width:100%;}
/* invoice */
.client_details{ padding:25px 0 50px;}
.detalle{ padding-bottom:20px;}
.detalle .head1, .detalle .head2, .detalle .head3, .detalle .head4{ width:25%;padding:0 1% 0 0;box-sizing:border-box;} 
.invoice_main{ padding-bottom:35px;}
.volver{ padding-top:25px;}
.detalle.detalle2 .head3{ width:15%;}
.detalle.detalle2 .head6{ width:35%;}
.detalle.detalle2 .head5, .detalle.detalle2 .head4{  width:25%;}
.head_top p{ line-height:20px;}
.shape1{ margin:10px 10px 10px 0;}
.head_top h4{ font-size:12px;}
.input_mail{width:70%;box-sizing:border-box;}
.marg1{margin:0 0 0 20px !important;}
.cont1_lt_img1 img{width:60%;height:auto;}
.girl_img1 img{width:100%; height:auto;}
nav ul li{margin:0 8px;}
.search_bg{padding:10px 20px 10px 5px;width:127px;box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;}
.nav_main h2{margin:11px 0 9px 0;padding:0 7px 0 0;}
nav ul li a{letter-spacing:0;}
.main_content{padding:30px 0;}
nav ul ul ul{left:136px;}
.head5{text-align:left;padding:0 0 0 8%;}
.head_top h3{letter-spacing:0;}
.qrack_top p{padding:6px 0 0;font-size:12px;}
.select_bg1{width:64%;}
}


@media only screen  and (max-width:767px){
.banner_in h3{font-size:60px;line-height:65px;}
.article_menu{width:100%;float:none;clear:both;}
.article_rt{width:100%;float:none;clear:both;}
footer .footer_logo{ width:100%; text-align:center; min-width:100%; margin-bottom:10px;}
.footer_logo a{ display:inline-block;}
footer{ padding:25px 0;}    
.footer_nav1{ max-width:50%; width:auto;  box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; margin:0; padding:0 10px; margin-bottom:10px;}
.footer_nav2{ margin:10px 0 0; width:100%; padding:0 10px; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;}
/* invoice */
.client_details{ padding:25px 0 50px;}
.detalle{ padding-bottom:20px;}
.detalle .head1, .detalle .head2, .detalle .head3, .detalle .head4{ width:25%;} 
.invoice_main{ padding:30px 0;}
.volver{ padding-top:25px;}
.client_details_lt, .client_details_rt{ width:50%;}
.head_top h3{ line-height:30px; font-size:12px;}
.detalle.detalle2 .head3{ width:15%;}
.detalle.detalle2 .head6{ width:35%;}
.detalle.detalle2 .head5, .detalle.detalle2 .head4{  width:25%;}
.head_top p{ line-height:17px;}
.shape1{ margin:10px 10px 10px 0;}
.head_top h4{ font-size:12px;}
.plv_main ul{ width:100%;}
.plv_main ul li{ width:49%; margin:0 0 10px; }
.plv_main ul li img{ max-width:100%; height:auto;	}
.plv_main ul li:nth-child(2n+1){ margin-right:1%;  clear:left;}
.plv_main ul li:nth-child(2n){ margin-left:1%;}
.logo_left{ width:auto; padding:0 10px; float:right; width:85%;box-sizing:border-box;}
.logo_left ul{ width:100%; text-align:right;}
.logo_left ul li{ margin:0; padding:0 2%; float:none;}
.logo_left ul li:hover, .logo_left ul li.active{ border-bottom:none;}
.cart{ padding:15px 10px;}
.cart_icons{padding:15px 10px;}
nav ul{ width:100%; }
nav ul li{ display:inline-block; width:100%; margin:0; }
nav ul ul, nav ul ul ul{ position:relative; top:auto; box-shadow:none; left:auto;}
nav ul li:hover ul {display:none;}
nav ul li ul li:hover ul {display:none;}
.search_bg{float:left;}
.menu_icon{display:block; position:absolute; top:13px; right:10px; }
.search_bg{ position:absolute; right:45px; top:2px; padding:10px 25px 10px 5px;width:60%;}
nav {display:none;}
nav{float:none;width:100%;clear:both;}
nav ul li:hover ul li{border:0 !important;}
.head_top h4{padding:14px 0 10px 0;}
.logo_left ul li a{padding:25px 0 16px;}
.qrack_top{padding:15px;}
.qrack_top p{padding:6px 0 0;font-size:12px;}
.article_main{padding:30px 0;}
.invoice_main1{padding:30px 0 !important;}
.factura{padding:0 0 20px 0;}
.invoice_main{padding:30px 0;}
nav ul li a{padding:13px 0 13px;}
}

@media only screen and (max-width:599px) {

.banner_in h3{font-size:50px;line-height:50px;}
.content_left{width:100%;}
.content_right{width:100%;}
.ofe_cont{padding:30px 0 0 0;}
.nue_cont{padding:30px 0 20px 0;}
.cont1_lt{width:100%;float:none;clear:both;}
.cont1_rt{width:100%;float:none;clear:both;padding:30px 0 30px 0;}
.select_bg1{width:60%;}
.marg1{margin:0 0 0 10px !important;}
.plv_main{padding:40px 0;}
.article_main h2{font-size:13px;padding:0 5px 20px; text-align:center;display:block;}
.slider .bx-controls-direction{display:none !important;}
.logo_left ul li a{letter-spacing:0;padding:25px 0 6px;}
.nav_main .container{width:96%;}
.input_mail{width:100%;box-sizing:border-box;}
.plv_main ul li a span{letter-spacing:0;}
.invoice_main{width:96%;margin:0 auto;}
.head_top h3{font-size:10px;}
}

@media only screen and (max-width:479px) {
.banner_in h3{font-size:23px;line-height:30px;}
.slider .bx-wrapper .bx-controls-direction a{bottom:35% !important;}
.cont1_lt_img1 img{width:70%;height:auto;}
.copy_in p{text-align:center;float:none;padding:0 0 20px 0;}
.detalle{ max-width:100%; width:100%; overflow-y:auto;}
.detalle ul{ min-width:480px; width:100%;}
.base_main{ max-width:100%; width:100%;padding:20px 0 0 0;}
.volver ul{ width:100%;}
.volver ul li{ width:40%;}
.search_bg{width:44%;}
.detalle.detalle2 .head3{ width:15%;}
.detalle.detalle2 .head6{ width:35%; min-width:150px;}
.detalle.detalle2 .head5, .detalle.detalle2 .head4{  width:25%;}
.base_main ul li a{ font-size:12px; padding:10px;}
.plv_main ul li, .plv_main ul li.last{ width:100%; margin:0 0 10px !important; }
.qrack_top p{padding:6px 0 0 8px;font-size:12px;}
}

@media only screen and (min-width:768px) {
nav ul ul ul{ display:none !important; }
nav ul li ul li:hover ul{ display:block !important;}
}
@media only screen and (min-width:768px) {
nav{ display:block !important; }
}

nav ul li span{position:absolute; z-index:1; right:0; top:0; height:41px; display:block; width:40px; text-align:center; cursor:pointer; display:none; 
background:url(../images/plus-icon.png) no-repeat center center #eee;}
nav ul li span.active{background:url(../images/minus.png) no-repeat center center #eee;}
@media only screen and (max-width:767px){
	nav ul li span{display:block;}
	nav ul li:hover .sub_menu1{display:none;}
	nav ul li:hover .sub_menu2{display:none;}
	nav ul li:hover .sub_menu3{display:none;}
	nav ul li:hover .sub_menu4{display:none;}
	nav ul ul li:hover{ border:none !important}
	nav ul ul li a, nav ul ul ul li a{ padding:13px 10px;}
	
	}

