.wrapper {
  margin: 0 auto;
}
.container {
  margin: 0 auto;
  width: 1120px;
}
.container #accordionfaq {
  border-top: solid 1px #e5e5e5;
}
.container #accordionfaq span {
  padding: 25px 0;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: #bf0a24;
  font-weight: 600;
  display: block;
  border-bottom: solid 1px #e5e5e5;
  cursor: pointer;
  text-transform: uppercase;
}
.container #accordionfaq span i {
  background: url(../images/sfaq.png) no-repeat;
  background-position: 0 0;
  width: 10px;
  height: 10px;
  display: block;
  float: right;
  margin-right: 10px;
}
.container #accordionfaq span i.open {
  background-position: 0 -11px;
}
.container #accordionfaq .question {
  padding: 20px 0;
  border-bottom: solid 1px #e5e5e5;
  display: none;
}
.container #accordionfaq .question b {
  color: #333333;
  font-size: 16px;
  line-height: 16px;
  padding: 16px 0 1px 0;
  width: 100%;
  margin-botoom: 15px;
  cursor: pointer;
  font-weight: normal;
  margin-left: 17px;
}
.container #accordionfaq .question b i {
  background: url(../images/sfaq.png) no-repeat;
  background-position: 0 -22px;
  width: 7px;
  height: 8px;
  display: none;
  float: left;
  margin-top: 5px;
  margin-right: -7px;
}
.container #accordionfaq .question b:hover {
  color: #e32526;
}
.container #accordionfaq .question div {
  display: none;
  margin-left: 50px;
  margin-top: 20px;
}
.container #accordionfaq p {
  font-size: 14px;
  color: #333333;
  display: inline-block;
  font-weight: 400;
  width: 100%;
  padding-top: 10px;
}
.container #accordionfaq p strong {
  font-weight: 700;
}
.container .pagination {
  margin-top: 20px;
  list-style: none;
}
.container .pagination li {
  float: left;
  display: inline-block;
  padding: 7px;
  margin: 0px;
}
.container .pagination li a {
  position: relative;
  background: none;
}
.container .textdescription {
  padding-bottom: 50px;
  color: #666666;
  font-family: 'Lato-Regular';
  font-size: 13px;
  line-height: 20px;
}
.container .new {
  max-width: 500px;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 40px
		color: #666666;
  font-family: 'Lato-Regular';
  font-size: 13px;
  line-height: 20px;
  padding: 20px;
}
.container .new h3 {
  font-size: 22px;
}
.container .new hr {
  background-color: #cccccc;
  color: #cccccc;
  border: 0;
  height: 1px;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 55px;
}
.container #contact-area {
  width: 600px;
  margin-top: 25px;
}
.container #contact-area .messagealert {
  text-align: center;
  padding: 20px;
  color: #000000;
}
.container #contact-area input,
.container #contact-area textarea {
  padding: 5px;
  width: 471px;
  font-family: Helvetica, sans-serif;
  font-size: 1.4em;
  margin: 0px 0px 10px 0px;
  border: 2px solid #ccc;
}
.container #contact-area textarea {
  height: 90px;
}
.container #contact-area textarea:focus,
.container #contact-area input:focus {
  border: 2px solid #e32526;
}
.container #contact-area input.submit-button {
  width: 100px;
  float: right;
  color: #fff;
  background-color: #e32526;
  text-decoration: none;
  border-radius: 2px;
  border: 0;
  cursor: pointer;
}
.container label {
  float: left;
  text-align: right;
  margin-right: 15px;
  width: 100px;
  padding-top: 5px;
  font-size: 1.4em;
}
.container .clients img {
  cursor: pointer;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
.container .clients img:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}
header {
  background: #000000;
}
input {
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
}
select {
  -moz-border-radius: none;
  -ms-border-radius: none;
  -o-border-radius: none;
  -webkit-border-radius: none;
  appearance: none;
  border-radius: 0;
}
.logo {
  float: left;
  margin: 20px 0 0 0;
}
.logo_left {
  float: left;
}
.logo_left ul {
  display: inline-block;
  float: left;
  margin: 0 0 0 10px;
  padding: 0;
}
.logo_left ul li {
  border-bottom: 2px solid #000000;
  display: inline-block;
  float: left;
  margin: 0;
  margin: 0 15px;
  padding: 0;
  padding: 0;
}
.logo_left ul li a {
  color: #999999;
  display: block;
  font-family: 'Lato-Black';
  font-size: 12px;
  letter-spacing: 2px;
  padding: 31px 0 26px;
}
.logo_left ul li a:hover {
  color: #ffffff;
}
.logo_left ul li a.active {
  color: #ffffff;
}
.logo_left ul li:hover {
  border-bottom: 2px solid #e32526;
}
.logo_left ul li:hover a {
  border-bottom: 2px solid #e32526;
  color: #ffffff;
}
.logo_left ul li.active {
  border-bottom: 2px solid #e32526;
}
.logo_left ul li.active a {
  border-bottom: 2px solid #e32526;
  color: #ffffff;
}
.cart {
  float: right;
  padding: 25px 0 0 0;
}
.cart a {
  background: url(../images/cart_icon.png) no-repeat right center;
  color: #e5e5e5;
  display: block;
  font-family: 'Lato-Bold';
  font-size: 11px;
  padding: 4px 47px 5px 0;
  text-decoration: none;
}
.cart a:hover {
  color: #e5e5e5;
  text-decoration: underline;
}
.nav_main {
  background: #ffffff;
  border-bottom: solid 1px #cccccc;
  position: relative;
}
.nav_main h2 {
  border-right: 1px solid #bfbfbf;
  color: #000000;
  display: inline-block;
  float: left;
  font-family: 'Lato-Bold';
  font-size: 16px;
  letter-spacing: 3px;
  line-height: 30px;
  margin: 11px 18px 9px 0;
  padding: 0 30px 0 0;
  text-transform: uppercase;
}
nav {
  float: left;
}
nav ul {
  display: inline-block;
  float: left;
}
nav ul li {
  border-bottom: solid 2px #ffffff;
  display: inline-block;
  float: left;
  margin: 0 15px;
  padding: 0;
  padding-top: 4px;
  position: relative;
}
nav ul li a {
  color: #bcbcbc;
  display: block;
  font-family: 'Lato-Bold';
  font-size: 12px;
  letter-spacing: 2px;
  padding: 16px 0 17px 0;
  text-transform: uppercase;
}
nav ul li:hover {
  border-bottom: 2px solid #e32526;
}
nav ul li:hover a {
  color: #000000;
}
nav ul li:hover ul {
  display: block;
}
nav ul li.active {
  border-bottom: 2px solid #e32526;
}
nav ul li.active a {
  color: #000000;
}
nav ul ul {
  -webkit-box-shadow: 2px 1px 4px -1px #000000;
  -moz-box-shadow: 2px 1px 4px -1px #000000;
  -ms-box-shadow: 2px 1px 4px -1px #000000;
  -o-box-shadow: 2px 1px 4px -1px #000000;
  box-shadow: 2px 1px 4px -1px #000000;
  display: none;
  float: none;
  left: 0;
  position: absolute;
  top: 50px;
  width: 100%;
  z-index: 999;
}
nav ul ul li {
  background: #ffffff;
  border-bottom: 1px solid #e5e5e5 !important;
  display: block;
  float: none;
  margin: 0 0;
  padding: 0;
  width: 100%;
}
nav ul ul li a {
  background: url(../images/icons1.png) no-repeat 91px -96px;
  color: #000000;
  display: block;
  font-family: 'Lato-Bold';
  font-size: 12px;
  padding: 12px 0 17px 10px;
  text-transform: none;
}
nav ul ul li a:hover {
  background: url(../images/icons1.png) no-repeat 91px -134px;
}
nav ul ul li:hover {
  background: #bf0a24;
  border-bottom: 1px solid #bf0a24 !important;
}
nav ul ul li:hover a {
  background: url(../images/icons1.png) no-repeat 91px -134px;
  border-bottom: 0;
  border-bottom: 0 !important;
  color: #ffffff;
  color: #ffffff;
}
nav ul ul li.active {
  background: #bf0a24;
  border-bottom: 1px solid #bf0a24 !important;
}
nav ul ul li.active a {
  background: url(../images/icons1.png) no-repeat 91px -134px;
  border-bottom: 0;
  border-bottom: 0 !important;
  color: #ffffff;
  color: #ffffff;
}
nav ul ul ul {
  float: none;
  left: 174px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
}
nav ul ul ul li {
  background: #ffffff;
  border-bottom: 1px solid #e5e5e5 !important;
  display: block;
  float: none;
  margin: 0 0;
  padding: 0;
  width: 100%;
}
nav ul ul ul li a {
  background: none !important;
  color: #000000 !important;
  display: block;
  font-family: 'Lato-Bold';
  font-size: 12px;
  padding: 12px 0 17px 10px;
  text-transform: none;
}
nav ul ul ul li a:hover {
  background: none !important;
}
nav ul ul ul li:hover {
  background: #bf0a24;
  border-bottom: 1px solid #bf0a24 !important;
}
nav ul ul ul li:hover a {
  background: none !important;
  border-bottom: 0;
  border-bottom: 0 !important;
  color: #ffffff;
  color: #ffffff !important;
}
nav ul ul ul li.active {
  background: #bf0a24;
  border-bottom: 1px solid #bf0a24 !important;
}
nav ul ul ul li.active a {
  background: none !important;
  border-bottom: 0;
  border-bottom: 0 !important;
  color: #ffffff;
  color: #ffffff !important;
}
.menu_icon {
  background: url(../images/menu_icon.png) no-repeat right top;
  cursor: pointer;
  display: none;
  float: right;
  height: 24px;
  width: 24px;
}
.search_bg {
  background: url(../images/icons1.png) no-repeat right -15px;
  border: 0;
  float: right;
  margin: 6px 0 0 0;
  padding: 10px 20px;
}
.banner {
  position: relative;
  width: 100%;
}
.slider {
  margin: 0 auto;
  position: relative;
  width: 100%;
}
.slider ul {
  text-align: center;
}
.slider ul li {
  position: relative;
  text-align: center;
}
.slider ul li img {
  display: block;
  height: auto;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
.banner_in {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.banner_in h3 {
  color: #ffffff;
  font-family: 'Lato-Hairline';
  font-size: 100px;
  font-weight: normal;
  line-height: 120px;
  padding: 134px 0 0 0;
  text-align: left;
}
.main_container {
  background: #ffffff;
}
.main_content {
  border-top: solid 1px #cccccc;
  padding: 69px 0 104px 0;
}
.content_left {
  float: left;
  width: 549px;
}
.ofe_img1 {
  float: left;
}
.ofe_img1 img {
  display: block;
  margin: 0;
  padding: 0;
}
.ofe_cont {
  float: left;
  padding: 0 0 0 20px;
  width: 263px;
}
.ofe_cont h2 {
  color: #000000;
  font-family: 'Lato-Black';
  font-size: 21px;
  letter-spacing: 1px;
  padding: 0 0 10px 0;
}
.ofe_cont p {
  color: #333333;
  font-family: 'Lato-Regular';
  font-size: 16px;
  line-height: 24px;
  padding: 0 0 10px 0;
}
.ofe_cont a {
  color: #666666;
  font-family: 'Lato-Regular';
  font-size: 13px;
  line-height: 20px;
  text-decoration: none;
}
.ofe_cont a:hover {
  color: #000000;
}
.nue_img1 {
  margin: 0;
  padding: 20px 0 0 0;
}
.nue_img1 img {
  display: block;
  margin: 0;
  padding: 0;
}
.nue_cont {
  float: left;
  padding: 28px 0 0 0;
  width: auto;
}
.nue_cont h2 {
  color: #000000;
  font-family: 'Lato-Black';
  font-size: 21px;
  letter-spacing: 1px;
  padding: 0 0 14px 0;
}
.nue_cont p {
  color: #333333;
  font-family: 'Lato-Regular';
  font-size: 16px;
  line-height: 24px;
  padding: 0 0 10px 0;
}
.nue_cont a {
  color: #666666;
  font-family: 'Lato-Regular';
  font-size: 13px;
  line-height: 20px;
}
.nue_cont a:hover {
  color: #000000;
}
.content_right {
  float: right;
  width: 549px;
}
.tem_img1 {
  margin: 0;
  padding: 0 0 0 0;
}
.tem_img1 img {
  display: block;
  margin: 0;
  padding: 0;
}
.tem_cont {
  float: left;
  padding: 28px 0 0 0;
  width: auto;
}
.tem_cont h2 {
  color: #000000;
  font-family: 'Lato-Black';
  font-size: 21px;
  letter-spacing: 1px;
  padding: 0 0 14px 0;
}
.tem_cont p {
  color: #333333;
  font-family: 'Lato-Regular';
  font-size: 16px;
  line-height: 24px;
  padding: 0 0 10px 0;
}
.tem_cont a {
  color: #666666;
  font-family: 'Lato-Regular';
  font-size: 13px;
  line-height: 20px;
}
.tem_cont a:hover {
  color: #000000;
}
footer {
  border-top: solid 1px #cccccc;
  padding: 68px 0 70px;
  background: url(../images/footerqrack.png) no-repeat left bottom;
}
.footer_logo {
  float: left;
  margin: 0 50px 0 0;
}
.footer_nav1 {
  float: left;
  width: 191px;
}
.footer_nav1 h3 {
  color: #333333;
  font-family: 'Lato-Black';
  font-size: 13px;
  letter-spacing: 2px;
  padding: 0 0 17px 0;
}
.footer_nav1 ul {
  display: inline-block;
  float: none;
  width: 100%;
}
.footer_nav1 ul li {
  display: inline-block;
  float: none;
  width: 100%;
}
.footer_nav1 ul li a {
  color: #666666;
  display: inline-block;
  font-family: 'Lato-Regular';
  font-size: 13px;
  line-height: 19px;
}
.footer_nav1 ul li a:hover {
  text-decoration: underline;
}
.footer_nav2 {
  float: left;
  width: 360px;
}
.footer_nav2 h3 {
  color: #333333;
  font-family: 'Lato-Black';
  font-size: 13px;
  letter-spacing: 2px;
  padding: 0 0 15px 0;
}
.footer_nav2 p {
  color: #666666;
  font-family: 'Lato-Regular';
  font-size: 13px;
  line-height: 20px;
  padding: 0 0 15px 0;
}
.footer_nav2 p span {
  color: #333333;
  font-family: 'Lato-Bold';
}
.input_mail {
  background: #ffffff;
  border: solid 2px #999999;
  color: #000000;
  display: block;
  font-family: 'Lato-Regular';
  font-size: 13px;
  letter-spacing: 2px;
  margin: 0 0 15px 0;
  padding: 10px 10px;
  width: 93.5%;
}
.input_mail:hover {
  background: #eeeeee;
}
.sus {
  background: #ffffff;
  border: 2px solid #010101;
  color: #000000;
  cursor: pointer;
  font-family: 'Lato-Bold';
  font-size: 13px;
  letter-spacing: 2px;
  padding: 10px 32px;
  text-transform: uppercase;
}
.sus:hover {
  background: #e5e4e4;
}
.copy {
  margin: 0;
}
.copy_in {
  border-top: solid 1px #cccccc;
  padding: 18px 0 60px 0;
}
.copy_in p {
  color: #666666;
  float: left;
  font-family: 'Lato-Regular';
  font-size: 11px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.copy_rt {
  float: right;
  position: relative;
  margin-top: 25px;
}
.copy_rt h2 {
  color: #666666;
  font-family: 'Lato-Regular';
  font-size: 11px;
  padding: 0 27px 0 0;
  position: relative;
  text-transform: none;
  cursor: pointer;
}
.copy_rt:hover .flags {
  display: block;
}
.flags {
  background: #ffffff;
  border: 1px solid #dddddd;
  top: 14px;
  display: none;
  height: 106px;
  position: absolute;
  right: 0;
  width: 143px;
  z-index: 999;
}
.flags ul {
  display: inline-block;
  float: left;
  padding: 5px 20px 0 0;
}
.flags ul li {
  display: inline-block;
  float: left;
  padding: 0 0 5px 0;
  width: 100%;
}
.flags ul li a {
  background: url(../images/icons1.png) no-repeat right bottom;
  color: #666666;
  display: block;
  font-family: 'Lato-Regular';
  font-size: 11px;
  margin: 10px 0;
  padding: 5px 27px 0 0;
  text-align: right;
  text-transform: none;
}
.flags ul li a.icon2 {
  background: url(../images/icons1.png) no-repeat right bottom;
  margin: 0;
}
.flags ul li a.icon3 {
  background: url(../images/icons1.png) no-repeat right -238px;
  margin: 0;
}
.flags ul li a.icon4 {
  background: url(../images/icons1.png) no-repeat right -258px;
  margin: 0;
}
.flags ul li a.icon5 {
  background: url(../images/icons1.png) no-repeat right -279px;
  margin: 0;
}
.plv_main {
  margin: 0;
  padding: 68px 0 81px;
}
.plv_main h2 {
  color: #000000;
  font-family: 'Lato-Bold';
  font-size: 24px;
  letter-spacing: 5px;
  padding: 0 0 40px 0;
  text-transform: uppercase;
}
.plv_main ul {
  display: inline-block;
  float: left;
}
.plv_main ul li {
  display: inline-block;
  float: left;
  margin: 0 20px 20px 0;
  position: relative;
}
.plv_main ul li a {
  background: url(../images/trans_bg1.png) repeat;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
}
.plv_main ul li a span {
  background: url(../images/arrow1.png) no-repeat right center;
  color: #ffffff;
  display: block;
  font-family: 'Lato-Bold';
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 30px;
  margin: 0 10px;
  padding: 10px 0;
  text-transform: uppercase;
}
.plv_main ul li img {
  display: block;
  margin: 0;
  padding: 0;
  height: 100%;
}
.article_main {
  margin: 0;
  padding: 69px 0 50px;
}
.article_main h2 {
  color: #999999;
  font-family: 'Lato-Black';
  font-size: 24px;
  letter-spacing: 5px;
  line-height: 28px;
  padding: 0 0 40px 0;
}
.article_main h2 span {
  color: #000000;
}
.article_menu {
  float: left;
  width: 265px;
}
.article_menu h3 {
  border: solid 1px #cccccc;
  padding: 11px 0;
}
.article_menu h3 span {
  background: url(../images/article-icons.png) no-repeat right 8px;
  color: #000000;
  display: block;
  font-family: 'Lato-Bold';
  font-size: 11px;
  line-height: 26px;
  margin: 0 15px 0 20px;
  text-transform: uppercase;
}
.article_menu ul {
  display: block;
  float: none;
  padding: 14px 15px 12px 15px !important;
}
.article_menu ul li {
  background: #ffffff !important;
  clear: both;
  color: #333333;
  cursor: pointer;
  display: block;
  float: none;
  font-family: 'Lato-Regular';
  font-size: 13px !important;
  font-weight: normal !important;
  line-height: 24px;
  padding: 0 20px 0 6px;
  width: auto;
}
.article_menu ul li:hover {
  background: #bf0a24 !important;
  color: #ffffff !important;
}
.article_menu ul li.active {
  background: #bf0a24 !important;
  color: #ffffff !important;
}
.article_rt {
  float: right;
  width: 836px;
}
.cont1 {
  display: none;
  margin: 0;
  padding: 0 !important;
  width: 100% !important;
}
.cont1_lt {
  float: left;
  width: 550px;
}
.cont1_lt h4 {
  background: #bf0a24;
  color: #ffffff;
  font-family: 'Lato-Black';
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 28px;
  padding: 11px 20px 11px 20px;
}
.cont1_lt_img1 {
  background: #eeeeee;
  border: solid 1px #cccccc;
  margin: 0 0 20px 0;
  padding: 20px 0;
  position: relative;
}
.cont1_lt_img1 img {
  display: block;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
.cont1_rt {
  float: right;
  width: 265px;
}
.cont1_rt h4 {
  background: #333333;
  color: #ffffff;
  font-family: 'Lato-Black';
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 28px;
  padding: 11px 20px 11px 20px;
}
.cont1_rt a {
  background: #ffffff;
  border: 2px solid #92d8df;
  color: #25b1bf;
  display: block;
  font-family: 'Lato-Bold';
  font-size: 13px;
  letter-spacing: 2px;
  margin: 20px 0 0 0;
  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;
}
.cont1_rt a:hover {
  border: 2px solid #50cfdb;
}
.cont1_rt_in {
  background: #ffffff;
  border: solid 1px #cccccc;
  padding: 30px 0 10px;
}
.cont1_rt_in h5 {
  background: #dddddd;
  color: #333333;
  font-family: 'Lato-Regular';
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 28px;
  margin: 21px 0 0 0;
  padding: 11px 20px 11px 20px;
}
.cont1_rt_in h6 {
  color: #333333;
  display: block;
  font-family: 'Lato-Regular';
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  margin: 0 auto;
  text-align: left;
  width: 80%;
}
.cont1_rt_in h6 span {
  color: #25b1bf;
  float: right;
  font-family: 'Lato-Bold';
  font-size: 14px;
  text-align: right;
  text-align: right;
}
.cont1_rt_in p {
  color: #666666;
  display: block;
  font-family: 'Lato-Italic';
  font-size: 13px;
  line-height: 21px;
  margin: 0 auto;
  padding: 25px 0 10px 0;
  text-align: left;
  width: 80%;
}
.cont1_rt_in p span {
  color: #000000;
  float: right;
  font-family: 'Lato-Bold';
  font-size: 21px;
  text-align: right;
  text-align: right;
}
.qrack_tipo {
  background: #ffffff;
  border-bottom: 1px solid #dddddd;
}
.qrack_top {
  background: #fff;
  padding: 15px 15px 15px 15px;
}
.qrack_top h5 {
  color: #000000;
  font-family: 'Lato-Bold';
  font-size: 13px;
  font-weight: normal;
  letter-spacing: 1px;
  padding: 0 0 11px 0;
}
.qrack_top p {
  color: #333333;
  float: left;
  font-family: 'Lato-Regular';
  font-size: 13px;
  padding: 6px 0 0 18px;
}
.qrack_tipo.active .qrack_top {
  background: #dddddd;
}
.select_bg1 {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: url(../images/article-icons.png) no-repeat 98% center #ffffff;
  border: solid 1px #cccccc;
  color: #333333;
  float: right;
  font-family: 'Lato-Regular';
  font-size: 13px;
  margin: 0 0 10px 0;
  outline: none;
  padding: 2px 5px;
  width: 341px;
}
.qrack_bot ul {
  display: inline-block;
  float: none;
  width: 100%;
}
.qrack_bot ul li {
  border-top: solid 1px #dddddd;
  float: none;
  width: 100%;
}
.qrack_bot ul li a {
  color: #000000;
  display: block;
  font-family: 'Lato-Bold';
  font-size: 13px;
  letter-spacing: 1px;
  margin: 0 15px;
  padding: 16px 0;
}
.girl_img1 {
  position: absolute;
  right: 13px;
  top: 13px;
}
.marg1 {
  margin: 0 0 0 80px !important;
}
.qrack_top1 {
  background: #ffffff !important;
}
.qrack_top2 {
  background: #ffffff !important;
  border-top: solid 1px #dddddd;
}
.tick1 {
  background: url(../images/article-icons.png) no-repeat right -133px;
}
.tick2 {
  background: url(../images/article-icons.png) no-repeat right -119px;
}
.estructura {
  background: #dddddd;
}
.confi {
  padding: 20px 0 0 0;
}
.confi a {
  background: url(../images/article-icons.png) no-repeat 20px -169px;
  border: solid 1px #010101;
  color: #000000;
  display: block;
  font-family: 'Lato-Bold';
  font-size: 13px;
  letter-spacing: 1px;
  padding: 11px 0;
  text-align: center;
  width: 263px;
}
.confi a:hover {
  border: solid 1px #92d8df;
}
.invoice_main {
  padding: 68px 0 100px 0;
}
.factura {
  border-bottom: solid 1px #cccccc;
  padding: 0 0 40px 0;
}
.factura h2 {
  color: #000000;
  float: left;
  font-family: 'Lato-Bold';
  font-size: 24px;
  font-weight: normal;
  letter-spacing: 4px;
}
.print_icons {
  float: right;
  margin: 6px 0 0 0;
}
.print_icons ul {
  display: inline-block;
  float: right;
}
.print_icons ul li {
  display: inline-block;
  float: left;
  margin: 0 0 0 13px;
}
.print_icons ul li a {
  display: block;
}
.invoice_main1 {
  padding: 68px 0 59px 0 !important;
}
.client_details {
  padding: 48px 0 114px 0;
}
.client_details_lt {
  float: left;
}
.client_details_lt p {
  color: #000000;
  font-family: 'Lato-Regular';
  font-size: 13px;
  line-height: 23px;
}
.client_details_lt p span {
  font-family: 'Lato-Bold';
}
.client_details_rt {
  float: right;
  width: 358px;
}
.client_details_rt p {
  color: #000000;
  display: block;
  font-family: 'Lato-Bold';
  font-size: 13px;
  line-height: 23px;
}
.client_details_rt p a {
  color: #000000;
  display: inline-block;
  font-family: 'Lato-Regular';
  font-size: 13px;
}
.client_details_rt p a:hover {
  text-decoration: underline;
}
.detalle {
  margin: 0 auto;
  padding: 0 0 40px 0;
}
.detalle ul {
  border-bottom: solid 1px #e5e5e5;
}
.detalle ul li {
  border-top: solid 1px #e5e5e5;
  letter-spacing: 1px;
}
.head_top h3 {
  color: #000000;
  font-family: 'Lato-Bold';
  font-size: 13px;
  letter-spacing: 1.5px;
  line-height: 57px;
}
.head_top h4 {
  color: #666666;
  font-family: 'Lato-Regular';
  font-size: 13px;
  line-height: 17px;
  padding: 14px 0 40px 0;
}
.head_top h4 span {
  display: block;
  font-family: 'Lato-Hairline';
  font-size: 13px;
  font-style: italic;
  padding: 6px 0 0 0;
}
.head_top h4 span em {
  color: #000000;
  font-family: 'Lato-Italic';
  font-size: 12px;
  font-style: italic;
}
.head_top p {
  color: #7a7a7a;
  font-family: 'Lato-Regular';
  font-size: 12px;
  line-height: 18px;
  padding: 14px 0 15px 0;
}
.head_top h5 {
  color: #7a7a7a;
  font-family: 'Lato-Regular';
  font-size: 12px;
  line-height: 47px;
}
.head_top h6 {
  color: #3cb9c6;
  font-family: 'Lato-Regular';
  font-size: 13px;
  line-height: 47px;
}
.pad1 {
  padding: 9px 0 16px 0 !important;
}
.pad2 {
  padding: 14px 0 0 0 !important;
}
.head1 {
  float: left;
  width: 380px;
}
.head1 p {
  color: #666666;
  font-family: 'Lato-Regular';
  font-size: 13px;
  line-height: 19px;
  padding: 10px 0 0 0;
}
.head2 {
  float: left;
  width: 300px;
}
.head3 {
  float: left;
  text-align: center;
  width: 248px;
}
.head4 {
  float: left;
  text-align: right;
  width: 190px;
}
.head5 {
  box-sizing: border-box;
  float: left;
  padding: 0 0 0 50px;
  text-align: left;
  text-align: left;
  width: 181px;
}
.head5 p {
  color: #666666;
  font-family: 'Lato-Regular';
  font-size: 13px;
}
.shape1 {
  float: left;
  margin: 20px 65px 20px 0;
}
.head6 {
  float: left;
  width: 500px;
}
.base_main {
  float: right;
  width: 362px;
}
.base_main h4 {
  color: #999999;
  font-family: 'Lato-Italic';
  font-size: 13px;
  font-weight: normal;
  padding: 0 0 0 50px;
}
.base_main h4 span {
  color: #000000;
  float: right;
  font-family: 'Lato-Bold';
  font-size: 21px;
  padding: 0 0 0 0;
  text-align: right;
}
.base {
  background: #eeeeee;
  padding: 20px 23px;
}
.base h5 {
  color: #9d9d9d;
  font-family: 'Lato-Regular';
  font-size: 13px;
  font-weight: normal;
  line-height: 20px;
}
.base h5 span {
  color: #999999;
  display: inline-block;
  float: right;
  text-align: right;
}
.base h5 small {
  display: inline-block;
  float: left;
  font-size: 13px;
  font-style: italic;
  text-align: left;
}
.base h3 {
  color: #191919;
  font-family: 'Lato-Bold';
  font-size: 20px;
  font-weight: normal;
  padding: 32px 0 0 0;
  text-transform: uppercase;
}
.base h3 span {
  display: inline-block;
  float: right;
  letter-spacing: 2px;
  text-align: right;
}
.volver {
  margin: 0;
  padding: 47px 0 0 0;
}
.volver ul {
  display: inline-block;
  float: left;
  width: 100%;
}
.volver ul li {
  border: solid 2px #cecece;
  display: inline-block;
  float: left;
  margin: 0 0 0 0;
  width: 170px;
}
.volver ul li a {
  color: #666666;
  display: block;
  display: block;
  font-family: 'Lato-Regular';
  font-size: 13px;
  font-weight: normal;
  padding: 10px 0;
  text-align: center;
}
.volver ul li a:hover {
  color: #26b1bf;
}
.volver ul li:hover {
  border: solid 2px #26b1bf;
}
.volver ul li a.active {
  color: #26b1bf;
}
.detalle2 {
  padding: 0 0 40px 0;
}
.continuar {
  margin: 0;
  padding: 50px 0 0 0;
}
.continuar ul {
  display: inline-block;
  float: left;
  width: 100%;
}
.continuar ul li {
  border: solid 2px #cecece;
  display: inline-block;
  float: left;
  margin: 0 0 0 0;
}
.continuar ul li a {
  color: #9d9d9d;
  display: block;
  display: block;
  font-family: 'Lato-Regular';
  font-size: 13px;
  font-weight: normal;
  padding: 10px 21px;
  text-align: center;
}
.continuar ul li a:hover {
  color: #26b1bf;
}
.continuar ul li:hover {
  border: solid 2px #26b1bf;
}
.continuar ul li a.active {
  color: #26b1bf;
}
.continuar ul li.active {
  border: solid 2px #26b1bf;
}
.pad3 {
  padding: 14px 0 40px 19% !important;
}
.cart_icons {
  float: right;
  padding: 25px 0 0 0;
}
.cart_icons a {
  background: url(../images/resume_cart_icons.png) no-repeat left top;
  color: #e5e5e5;
  display: block;
  float: left;
  font-family: 'Lato-Bold';
  font-size: 11px;
  padding: 4px 0 5px 30px;
  text-decoration: none;
}
.cart_icons a:hover {
  color: #e5e5e5;
  text-decoration: underline;
}
.cart_bg {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  border: 1px solid #25afbd;
  float: right;
  margin: -3px 0 0 20px;
  min-height: 28px;
  position: relative;
  width: 54px;
}
.cart_bg h3 {
  color: #ffffff;
  float: right;
  font-family: 'Lato-Bold';
  font-size: 11px;
  font-weight: normal;
  font-weight: normal;
  padding: 7px 11px 0 0;
}
.cart_icon1 {
  background: url(../images/resume_cart_icons.png) no-repeat left bottom;
  border: 0;
  cursor: pointer;
  float: left;
  margin: 5px 0 0 7px;
  height: 15px;
  width: 16px;
}
.slide_cont {
  display: none;
}
.form_accordion {
  border: 1px solid #dddddd;
  border-bottom: 0;
}
.round_2 {
  display: none;
}
.back_button {
  display: none;
}
.back_first {
  display: none;
}
