<!-- container starts -->
<section class="plv_main">
	<div class="container">
		<h2><? echo __("ABOUT US");?></h2>
       
        <div class="textdescription">
           <p><? echo __("Who we are OUR COMPANY / PRODUCTS AND MISSION  OUR MISSION IS TO CREATE DISRUPTIVE SUSTAINABLE INNOVATION IN THE PACKAGING AND POINT OF PURCHASE INDUSTRY, DRIVEN TO HELP SELL MORE EFFICIENTLY AT A LOWER PRICE. OUR FOCUS TO PROVIDE SOLUTIONS THAT SUPPORT OUR CUSTOMERS RETAIL OBJECTIVES, FIT WITHIN THE REQUIREMENTS OF THEIR CHAIN SUPPLY AND INCREASE THEIR PRODUCTS SPEED TO MARKET.");?> </p>

        </div>
        <div class="clear"></div>
    </div>
</section>
<!-- container ends -->