<!-- container starts -->
<section class="plv_main">
	<div class="container">
		<h2><? echo $category['Category']['name'];?></h2>
        <div class="textdescription">
            
        </div>
        <ul>
            <? $actual= 0;?>
            <? foreach ($category['Product'] as $cat):?>
               
                <li <? if($actual%2!=0){ echo 'class="last"';};?>>
                    
                    <? if($cat['image'] != null):?>


                        <img src="<? echo $this->Html->url('/');?>files/product/image/<? echo $cat['image_dir'];?>/thumb_<? echo $cat['image'];?>" width="550" height="340" alt="img" >
                    <? else:?>
                        
                         <? echo  $this->Html->image('/theme/Bonzzay/images/plv_img1.jpg', array('alt'=>'img', 'width' => '550' , 'height' => '340'));?>
                    <? endif;?>
                    <a href="<? echo $this->Html->url('/');?><? echo $category['Category']['slug'];?>/<? echo $cat['slug'];?>"><span><? echo $cat['name'];?></span></a>
                </li>
                 <? $actual++;?>
            <? endforeach;?>
        	
        </ul>
        <div class="clear"></div>
    </div>
</section>
<!-- container ends -->