<!-- container starts -->
<section class="plv_main">
	<div class="container">
		<h2><? echo __("Soporte");?></h2>
       
            <div id="accordionfaq">
                <? foreach ($faqis as $faq):?>
                <div>
                    <span><? echo $faq['Faqcategory']['name'];?> <i></i> </span>
                    <? foreach($faq['Faq'] as $fac):?>
                        <div class="question">
                            <b><i></i> <? echo $fac['questions'];?></b>
                            <div class="qanswer"><? echo $fac['answer'];?></div>
                        </div>
                    <? endforeach;?>
                </div>
                
                <? endforeach;?>
            </div>
        	
        
        <div class="clear"></div>
    </div>
</section>
<!-- container ends -->