<!-- container starts -->
<section class="plv_main">
	<div class="container">
		<h2><? echo strtoupper ($faqi['Faq']['questions']);?></h2>
        <div>
                        
            <? echo $faqi['Faq']['answer'];?>
                        
        </div>
        <div class="clear"></div>
    </div>
</section>
<!-- container ends -->