<!-- container starts -->
<section class="plv_main">
    <div class="container">
        <h2><? echo strtoupper ($post['Post']['title']);?></h2>
        <?if($post['Post']['image_dir'] != null):?>
        <img src="<? echo $this->Html->url('/');?>files/post/image/<? echo $post['Post']['image_dir'];?>/img_<? echo $post['Post']['image'];?>" width="100%" height="100%" alt="<? echo strtoupper ($post['Post']['title']);?>" class="imgpost">
    <? endif;?>
        <div class="textdescription">
                        
            <? echo $post['Post']['text'];?>
                        
        </div>
        <div class="clear"></div>
    </div>
</section>
<!-- container ends -->