<!-- container starts -->
<section class="plv_main">
    <div class="container">
        <h2><? echo strtoupper ($product['Product']['name']);?></h2>
        <img src="<? echo $this->Html->url('/');?>files/product/image/<? echo $product['Product']['image_dir'];?>/img_<? echo $product['Product']['image'];?>" width="100%" height="100%" alt="<? echo strtoupper ($product['Product']['name']);?>" class="imgpost">
        <div>
                        
            <? echo $product['Product']['text'];?>
                        
        </div>
        <div class="clear"></div>
    </div>
</section>
<!-- container ends -->