<header>    
    <!-- container starts -->
    <div class="container">
        <div class="logo"><a href="<? echo $this->Html->url('/');?>">
        <? echo  $this->Html->image('/theme/Bonzzay/images/qrack.png', array('alt'=>'qrack', 'width' => '101' , 'height' => '35'));?></a></div>
        <div class="logo_left">
            <ul>

                <li <? if($menuactive == 'shop'){echo 'class="active"';}?>><a href="<? echo $this->Html->url('/');?>"><? echo __('HOME');?></a></li>
                <li <? if($menuactive == 'about'){echo 'class="active"';}?>><a href="<? echo $this->Html->url('/');?>about"><? echo __('ABOUT US');?></a></li>
                <li <? if($menuactive == 'solutions'){echo 'class="active"';}?>><a href="<? echo $this->Html->url('/');?>solutions"><? echo __('SOLUTIONS');?></a></li>
                
                <!--li <? if($menuactive == 'support'){echo 'class="active"';}?>><a href="<? echo $this->Html->url('/');?>about"><? echo __('CASE STUDY');?></a></li-->
                <li <? if($menuactive == 'clients'){echo 'class="active"';}?>><a href="<? echo $this->Html->url('/');?>clients"><? echo __('CLIENTS');?></a></li>
                <li <? if($menuactive == 'news'){echo 'class="active"';}?>><a href="<? echo $this->Html->url('/');?>news"><? echo __('NEWS');?></a></li>
                <li <? if($menuactive == 'contact'){echo 'class="active"';}?>><a href="<? echo $this->Html->url('/');?>contacto"><? echo __('CONTACT');?></a></li>
            </ul>

            <div class="clear"></div>
        </div>
        <!--div class="copy_rt">
            <h2><? echo __("Cambiar Idioma");?></h2>
            <div class="flags">
                <ul>
                    <li><a href="#" class="icon2">Español</a></li>
                    <li><a href="#" class="icon3">English</a></li>
                    <li><a href="#" class="icon4">Portugues</a></li>
                    <li><a href="#" class="icon5">Dutch</a></li>
                   
                </ul>
                <div class="clear"></div>
            </div>
                
        </div-->


        
        <!-- <div class="cart"><a href="#"><? echo __("Mi cuenta");?></a></div> -->
        <div class="clear"></div>
    </div>
    <!-- container ends -->
</header>
<!-- Header ends -->