 <div class="nav_main">
	<div class="container">
    	<h2><? echo __("SOLUTIONS");?></h2><span class="menu_icon"></span>
        <nav>
        	<ul>
                <? foreach($categories as $category):?>
             
                    <li><a href="<? echo $this->Html->url('/');?><? echo $category['Category']['slug'];?>"><? echo $category['Category']['name'];?></a>
                        <? if(isset($category['Product']) and !empty($category['Product']) ):?>
                            <ul>
                            <? foreach($category['Product'] as $subsubcategory):?>
                                <li><a href="<? echo $this->Html->url('/');?><? echo $category['Category']['slug'];?>/<? echo $subsubcategory['slug'];?>"><? echo $subsubcategory['name'];?></a>

                                </li>
                            <? endforeach;?>
                            </ul>
                        <? endif;?>


                    </li>
                

                <? endforeach;?>
            	
                
            </ul>
            <div class="clear"></div>
        </nav>
        <!--input type="text" value=" " class="search_bg"-->
        <div class="clear"></div>
    </div>
</div>
